@charset "utf-8";
#footsection {
	width: 1050px;
	margin: 0 auto;
	padding-bottom: 60px;
	font-weight: 400;
	letter-spacing: -.2px;
}

#footer0 {
	word-break: break-all;
	overflow: hidden;
}

#footer1 {
	float: left;
	width: 525px;
}

#footer2 {
	width: 525px;
	background: red;
}

#footerdiv {
	height: 50px;
	text-align: center;
	font-style: italic;
	color: #FF3366;
}

.tit {
	line-height: 36px;
	white-space: nowrap;
	font-weight: 800px;
}
#viewcall dl {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -.2px;
}
#viewcall dl dt{
	display: block;
}
