@charset "utf-8";
#viewsection {
	height : 600px;
}

#viewtable {
	margin: auto;
	width: 400px;
	height : 300px;
	text-align: center;
	color: #FF3366;
}
#nametitle{
	background: #FF3366;
	color: white;

}
#viewbt{
	background: #FF3366;
	width: 250px;
	height: 30px;
	border-radius: 10px;
	color: white;	
}